/**
 * This is a template file for the MySQL DB Connection.
 * Copy this file and rename it (Remove the .example extension)
 * 
 * You may change the DB connection configuration in the sequelize constant below
 */

const {Sequelize} = require('sequelize');

/**
 * DB connection configuration
 * @type {Sequelize}
 */
const sequelize = new Sequelize('healthcoin', 'root', null, {
    host: 'localhost',
    port: 3306,
    dialect: 'mysql'
})

/**
 * Run a connection test to the DB
 * @returns {Promise<void>}
 */
async function test_connection() {
    try {
        await sequelize.authenticate();
        console.log('Connection has been established successfully.');
    } catch (error) {
        console.error('Unable to connect to the database:', error);
    }
}

// test_connection();

module.exports = {
    sequelize
}
